<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css}">
  <link rel="stylesheet" th:href="@{/css/dashboardPage.css}">
  <title>QuiZZila</title>
</head>
<body>
<section class="main-content">
  <div class="app">
    <a th:href="@{/addQuiz}"}>
      <div class="fab-icon"> + </div>
    </a>
    <header class="sub-menu">
      <div class="title"> Dashboard Quiz </div>
    </header>

    <section class="app-content">
      <div class="quiz-category">
        <label for="category-select">Choose a Category:</label>
        <select id="category-select" name="category">
          <option value="math">Data Structure</option>
          <option value="science">Discrete Mathematic</option>
          <option value="english">Algorithm</option>
          <option value="english">None</option>
        </select>
      </div>
      <div class="Jawir">
        <ul class="projects">
          <li class="project-item">
            <div class="title-row">
              <h3> Recurrence Relation </h3>
            </div>
            <div class="desc-row">
              <p> Gimana yah.</p> </div>
            <div class="progress-row">
              <p class="value-label" style="width:94%" data-value="94"></p>
              <progress max="100" value="94" data-value="94"> 94% </progress>
            </div>
            <div class="footer-row">
              <div class="challenger thousands"> <i class="fa fa-user-o icon" aria-hidden="true"></i> 1000 Challengers </div>
              <a th:href="@{/quiz}" class="quiz-btn">Attempt</a>
            </div>
            <a class="leaderboard-btn" th:href="@{/leaderboard}"><i class="fa fa-trophy" aria-hidden="true"></i> Leaderboard</a>
          </li>

          <li class="project-item">
            <div class="title-row">
              <h3> B+ Tree </h3>
            </div>
            <div class="desc-row">
              <p> Gimana yah.</p> </div>
            <div class="progress-row">
              <p class="value-label" style="width:64%" data-value="64"></p>
              <progress max="100" value="64" data-value="64"> 64% </progress>
            </div>
            <div class="footer-row">
              <div class="challenger hundreds"> <i class="fa fa-user-o icon" aria-hidden="true"></i> 100 Challengers </div>
              <a th:href="@{/quiz}" class="quiz-btn">Attempt</a>
            </div>
            <a class="leaderboard-btn" th:href="@{/leaderboard}"> <i class="fa fa-trophy" aria-hidden="true"></i> Leaderboard</a>
          </li>

          <li class="project-item">
            <div class="title-row">
              <h3> Polymorphysm </h3>
            </div>
            <div class="desc-row">
              <p> Gimana yah.</p> </div>
            <div class="progress-row">
              <p class="value-label" style="width:59%" data-value="59"></p>
              <progress max="100" value="59" data-value="59"> 59% </progress>
            </div>
            <div class="footer-row">
              <div class="challenger hundreds"> <i class="fa fa-user-o icon" aria-hidden="true"></i> 130 Challengers </div>
              <a th:href="@{/quiz}" class="quiz-btn">Attempt</a>
            </div>
            <a class="leaderboard-btn" th:href="@{/leaderboard}"><i class="fa fa-trophy" aria-hidden="true"></i> Leaderboard</a>
          </li>

          <li class="project-item">
            <div class="title-row">
              <h3> Elementary Number Theory </h3>
            </div>
            <div class="desc-row">
              <p> Gimana yah.</p> </div>
            <div class="progress-row">
              <p class="value-label" style="width:94%" data-value="94"></p>
              <progress max="100" value="94" data-value="94"> 94% </progress>
            </div>
            <div class="footer-row">
              <div class="challenger tens"> <i class="fa fa-user-o icon" aria-hidden="true"></i> 69 Challengers </div>
              <a th:href="@{/quiz}" class="quiz-btn">Attempt</a>
            </div>
            <a class="leaderboard-btn" th:href="@{/leaderboard}"><i class="fa fa-trophy" aria-hidden="true"></i> Leaderboard</a>
          </li>

          <li class="project-item">
            <div class="title-row">
              <h3> Linked List </h3>
            </div>
            <div class="desc-row">
              <p> Gimana yah.</p> </div>
            <div class="progress-row">
              <p class="value-label" style="width:44%" data-value="44"></p>
              <progress max="100" value="44" data-value="44"> 94% </progress>
            </div>
            <div class="footer-row">
              <div class="challenger tens"> <i class="fa fa-user-o icon" aria-hidden="true"></i> 10 Challengers </div>
              <a th:href="@{/quiz}" class="quiz-btn">Attempt</a>
            </div>
            <a class="leaderboard-btn" th:href="@{/leaderboard}"> <i class="fa fa-trophy" aria-hidden="true"></i> Leaderboard</a>
          </li>

          <li class="project-item">
            <div class="title-row">
              <h3> Simplex Algorithm </h3>
            </div>
            <div class="desc-row">
              <p> Gimana yah.</p> </div>
            <div class="progress-row">
              <p class="value-label" style="width:25%" data-value="25"></p>
              <progress max="100" value="25" data-value="25"> 25% </progress>
            </div>
            <div class="footer-row">
              <div class="challenger tens"> <i class="fa fa-user-o icon" aria-hidden="true"></i> 14 Challengers </div>
              <a th:href="@{/quiz}" class="quiz-btn">Attempt</a>
            </div>
            <a class="leaderboard-btn" th:href="@{/leaderboard}"><i class="fa fa-trophy" aria-hidden="true"></i> Leaderboard</a>
          </li>
          <li class="project-item">
            <div class="title-row">
              <h3> Cryptographic </h3>
            </div>
            <div class="desc-row">
              <p> Gimana yah.</p> </div>
            <div class="progress-row">
              <p class="value-label" style="width:24%" data-value="24"></p>
              <progress max="100" value="24" data-value="25"> 24% </progress>
            </div>
            <div class="footer-row">
              <div class="challenger tens"> <i class="fa fa-user-o icon" aria-hidden="true"></i> 30 Challengers </div>
              <a th:href="@{/quiz}" class="quiz-btn">Attempt</a>
            </div>
            <a class="leaderboard-btn" th:href="@{/leaderboard}"><i class="fa fa-trophy" aria-hidden="true"></i> Leaderboard</a>
          </li>
      </div>
      </ul>
  </div>
</section>
</div>
</section>
</body>
</html>