<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Quiz</title>
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
    <link rel="stylesheet" th:href="@{/css/addQuizPage.css}">
</head>
<body>
<div class="flex-center flex-column">
<h1>Create Quiz</h1>
</div>
<form id="quizForm" action="/addQuiz" method="post">
    <div class="form-group">
        <label for="title" >Quiz Title:</label>
        <input type="text" id="title" name="title" required/>
    </div>

    <div class="form-group">
        <label for="category">Category:</label>
        <select id="category" name="category" class="quiz-category" required>
            <option value="math">Data Structure</option>
            <option value="science">Discrete Mathematics</option>
            <option value="english">Algorithm</option>
            <option value="all">None</option>
        </select>
    </div>

    <div id="questionsContainer">
        <div class="question">
            <label for="question1">Question 1:</label>
            <input type="text" id="question1" name="questions[0].text" class="question-input" placeholder="Enter question here" required/>

            <div class="answer">
                <label for="choice1">Choice 1:</label>
                <input type="text" id="choice1" name="questions[0].answers[0].text" class="choice-input" placeholder="Enter choice 1" required/>
                <input type="radio" name="questions[0].correctOption" value="0" required/>
            </div>

            <div class="answer">
                <label for="choice2">Choice 2:</label>
                <input type="text" id="choice2" name="questions[0].answers[1].text" class="choice-input" placeholder="Enter choice 1" required/>
                <input type="radio" name="questions[0].correctOption" value="1"  required/>
            </div>
        </div>
    </div>

    <button type="button" id="addQuestion" class="btn">Add Question</button>

    <button type="submit" class="btn">Submit Quiz</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        let questionIndex = 2;

        $("#addQuestion").click(function () {
            let newQuestion =
                '<div class="question">' +
                '<label for="question' + questionIndex + '">Question ' + questionIndex + ':</label>' +
                '<input type="text" id="question' + questionIndex + '" name="questions[' + (questionIndex - 1) + '].text" required/>' +
                '<div class="answer">' +
                '<label for="choice1">Choice 1:</label>' +
                '<input type="text" id="choice1" name="questions[' + (questionIndex - 1) + '].answers[0].text" required/>' +
                '<input type="radio" name="questions[' + (questionIndex - 1) + '].correctOption" value="0" required/>' +
                '</div>' +
                '<div class="answer">' +
                '<label for="choice2">Choice 2:</label>' +
                '<input type="text" id="choice2" name="questions[' + (questionIndex - 1) + '].answers[1].text" required/>' +
                '<input type="radio" name="questions[' + (questionIndex - 1) + '].correctOption" value="1" required/>' +
                '</div>' +
                '</div>';
            $("#questionsContainer").append(newQuestion);
            questionIndex++;
        });
    });
</script>
</body>
</html>
