<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Quiz</title>
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
    <link rel="stylesheet" th:href="@{/css/addQuizPage.css}">
</head>
<body>
<div class="container">
    <div id="createQuiz" class="flex-center flex-column">
        <h1 th:text="${'Create Quiz'}"></h1>
        <form action="/addQuiz" method="post">
            <div class="form-group">
                <label th:for="category">Category</label>
                <input type="text" name="category" id="category" th:placeholder="${'Enter category here'}" />
            </div>
            <div class="form-group">
                <label th:for="question">Question</label>
                <input type="text" name="question" id="question" th:placeholder="${'Enter question here'}" />
            </div>
            <div class="form-group">
                <div class="choice">
                    <input type="text" name="choice1" id="choice1text" th:placeholder="${'Enter choice 1'}" />
                </div>
                <div class="choice">
                    <input type="text" name="choice2" id="choice2text" th:placeholder="${'Enter choice 2'}" />
                </div>
                <div class="choice">
                    <input type="text" name="choice3" id="choice3text" th:placeholder="${'Enter choice 3'}" />
                </div>
                <div class="choice">
                    <input type="text" name="choice4" id="choice4text" th:placeholder="${'Enter choice 4'}" />
                </div>
            </div>
            <div class="form-group">
                <label th:for="answer">Correct Answer</label>
                <select name="answer" id="answer">
                    <option value="1">Choice 1</option>
                    <option value="2">Choice 2</option>
                    <option value="3">Choice 3</option>
                    <option value="4" >Choice 4</option>
                </select>
            </div>
            <button type="submit" class="btn">Create</button>
        </form>
    </div>
</div>
</body>
</html>
