<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/LandingpagePage.css}">
	<title>Pilih Jumlah Soal</title>
</head>

<body>
    <div class="main-container container-fluid py-5 px-4">
		<div class="text-box">
			<h1 class="mb-5 text-center">QuiZZila</h1>
			<form class="card py-5 px-4" style="background-color: #56a5eb; width:560px" action="/quiz" method="POST">
				<label for="numQuestions">Jumlah Pertanyaan:</label>
        		<input type="number" id="numQuestions" name="numQuestions" min="1">
				<p>Masukkan Nama Anda</p>
				<input type="text" name="username" />
				<p class="text-danger warning" th:if="${warning}" th:text="${warning}"></p>
				<button type="submit" class="btn btn-light"
					style="color: #56a5eb; font-weight: bolder; font-size: 24px; ">MULAI QUIZ</button>
			</form>
		</div>
	</div>
</body>

	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>